* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  line-height: 2.2;
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
}


/* Header */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.menu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.menu a {
    color: #CBBAED;
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    transition: all 0.3s linear;
}

.menu a:hover {
  background: #CBBAED;
  color: #CBBAED;
  padding-left: 1.5rem;
}

.logo {
  cursor: pointer;
  animation: logo 3s infinite;
}

@keyframes logo {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* ----- -----  Mediaqueries header ----- ----- */

@media (min-width: 800px) {
  
  .nav-main {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .menu {
    height: auto;
    display: flex;
  }

  .menu a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .menu a:hover {
    padding: 0;
    background: transparent;
  }

  .fa-bars {
    display: none;
  }

}

.fa-bars {
  font-size: 1.5rem;
  color: #CBBAED;
  cursor: pointer;
}

.fa-bars:hover {
  color: #CBBAED;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.show-menu {
  height: 10rem;
}
  

  /* Container */
  .container {
    gap: 60px;
    width: 100%;
    min-height: 90vh; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Cards */
  .card {
    width: 280px;
    height: 410px;
    background: #fff;
    border-radius: 20px;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.9s ;
    background: linear-gradient(rgba(255,255,255, 1.9), rgba(255,255,255, 1.9));
  }

  .card:hover {
    transform: translateY(-40px);
    box-shadow: 0 42px 82px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
  }

  .container-info {
    width: 100%;
  }

  .container-info h4 {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
  }

  .container-info p {
    color: #000;
    margin: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
  }

  .container-info button {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 80px;
    border-radius: 50px;
    background: #CBBAED;
    border: 1px solid #CBBAED;
  }

  .container-info button:hover {
    background: #CBBAED;
    box-shadow: 0 0 5px #CBBAED,
            0 0 25px #CBBAED,
            0 0 50px #CBBAED,
            0 0 100px #CBBAED;
  }

  .container {
    display: flex;
    justify-content: center; 
  }

  /* Formualario - New Product */
  main {
    width: 100%;
    height: 90vh;
    margin: auto;
    padding: 40px;
    background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .formulario {
    gap: 20px;
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 400px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
  }
  
  .formulario__grupo-input {
    position: relative;
  }
  
  .formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    transition: .3s ease all;
    padding: 0 10px;
    margin-bottom: 15px; 
  }
  
  .formulario__input:focus {
    border: 3px solid #CBBAED;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  }
  
  .formulario__input-error {
    font-size: 12px;
    margin: 0px;
    display: none;
    color: #bb2929;
  }
  
  .formulario__input-error-activo {
    display: block;
  }
  
  .formulario__validacion-estado {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
  }
  
  .formulario__checkbox {
    margin-right: 10px;
  }
  
  .formulario__grupo-terminos,
  .formulario__grupo-btn-enviar {
    grid-column: span 2;
  }
  
  .formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario__btn {
    margin-top: 20px;
    height: 45px;
    width: 30%;
    line-height: 45px;
    background: #CBBAED;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
  }

  .formulario__btn:hover {
    background: #9792E3;
    box-shadow: 0 0 5px #9792E3,
    0 0 25px #9792E3,
    0 0 50px #9792E3,
    0 0 100px #9792E3;
  }
  
  .formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
  }
  
  .formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
  }
  
  .formulario__mensaje-exito-activo {
    display: block;
  }
  
  /* ----- -----  Estilos para Validacion ----- ----- */
  .formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
  }
  
  .formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
  }
  
  .formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
  }
  
  .formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
  }
  
  
  /* ----- -----  Mediaqueries ----- ----- */
  @media screen and (max-width: 800px) {
    .formulario {
      grid-template-columns: 1fr;
      margin-top: 200px;
    }
  
    .formulario__grupo-terminos, 
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
      grid-column: 1;
    }
  
    .formulario__btn {
      width: 100%;
    }
  }